body {
  width: 100vw;
  height: 100vh;
}

.main-container-blog1 {
  background: linear-gradient(green, rgb(199, 159, 127));
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.section-bin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 450px;
}

.img-container h2 {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  /*
  background: linear-gradient(to right, yellow, blue, red);
  -webkit-background-clip: text;
  color: transparent;
  */

}

.section-bin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
}

.section-bin h2 {
  padding-bottom: 10px;
}

.button_more {
  padding: 10px;
  color: aliceblue;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  background: none;
  border: 2px solid rgb(11, 236, 225);
  cursor: pointer;
}

.button_more:hover {
  background-color: aqua;
  color: black;
}

.container-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1000px;
  position: relative;
  margin-top: 15px;
  margin-left: 130px;
  gap: 5px;
}

.cards-new {
  display: flex;
  flex-direction: column;
  background-color: rgb(192, 163, 211);
  border-radius: 10px;
  padding: 20px;
}

.space {
  width: 1000px;
  position: relative;
  margin-top: 15px;
  margin-left: 130px;
}

.space>h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-new>img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}

.content-card {
  padding-top: 10px;
}

.content-card>p {
  padding-top: 10px;
}

@media (max-width: 768px) {
  .main-container-blog1 {
    grid-template-columns: 1fr;
    height: 600px;
  }

  .container-news {
    grid-template-columns: 1fr;
    margin: 0;
    padding-right: 300px;
    padding-left: 50px;
    padding-top: 15px;
  }

  .space {
    grid-template-columns: 1fr;
    margin: 0;
    padding-right: 300px;
    padding-left: 50px;
  }
}

.container-footer {
  margin-top: 20px;
  padding-top: 15px;
  background-color: #000000;
  height: 120px;
}

.content-footer {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}